<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{% block title %}MonVsp.com : le site de référence pour les véhicules sans permis {% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 
            '@css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        <!-- Google-Font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" >
        {% endstylesheets %}
    {% endblock %}
    {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon-icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
    {% image '@AppBundle/Resources/public/images/favicon.png' %}
    <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
    {% endimage %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->  

</head>
