<div class="result-sorting-wrapper">
    <div class="sorting-count">
        <p>1 - 8 <span>sur {{ vsp }} Véhicule(s) Neuf(s)</span></p>
    </div>
    <div class="result-sorting-by">
        <p>Trier par:</p>
        <form action="#" method="post">
            <div class="form-group select sorting-select">
                <select class="form-control ">
                    <option>Prix (croissants)</option>
                    <option>1000€ à 2500€</option>
                    <option>2500€ à 5000€</option>
                    <option>5000€ à 10000€</option>
                    <option>10000€ à +</option>
                </select>
            </div>
        </form>
    </div>
</div>